<div class="jumbotron">
    <h1 class="text-center">{{titulo}}</h1>
</div>

<div class="row justify-content-end enquadrado">
    <div ng-show="mensagem.length && countErros <= 0" class="alert alert-info alert-dismissible fade show" role="alert">
        <p>{{mensagem}}</p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="fecharAlerta()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    
    <div ng-show="mensagem.length && countErros > 0" class="alert alert-danger alert-dismissible fade show" role="alert">
        <p>{{mensagem}}</p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="fecharAlerta()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>

<section class="table-responsive">
    <form novalidate name="formulario" class="row enquadrado" ng-submit="submeter()">
        <div class="col-md-6">        
            <div class="form-group">
                <label>Nome:<span class="alerta-required">*</span></label>
                <input type="text" id="nome" class="form-control" 
                    maxlength="100" pattern="[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+$"
                    ng-model="operador.nome" required/>
                <span ng-show="formulario.$submitted && !operador.nome" class="alerta-required">{{msgValidacaoNome}}</span>
            </div>

            <div class="form-group">
                <label>Login:<span class="alerta-required">*</span></label>
                <input type="text" id="login" class="form-control" 
                    maxlength="15" pattern="[A-Za-z_-]+$"
                    ng-model="operador.login" ng-show="!operador.id" required/>
                <input type="text" class="form-control" 
                    ng-model="operador.login" ng-show="operador.id" disabled/>
                <span ng-show="formulario.$submitted && !operador.login" class="alerta-required">{{msgValidacaoLogin}}</span>
            </div>
    
            <div class="form-group">
                <label>Senha:<span class="alerta-required">*</span></label>
                <input type="password" id="senha" class="form-control" 
                    minlength="6" maxlength="15" pattern="[^\ ]+"
                    ng-model="operador.senha" required/>
                <span ng-show="formulario.$submitted && !operador.senha" class="alerta-required">{{msgValidacaoSenha}}</span>
            </div>
            
            <div class="form-group">
                <label>Confirmar Senha:<span class="alerta-required">*</span></label>
                <input type="password" id="confirmar-senha" class="form-control" 
                    minlength="6" maxlength="15" pattern="[^\ ]+"
                    ng-model="operador.confirmarSenha" required/>
                <span ng-show="formulario.$submitted && !operador.confirmarSenha" class="alerta-required">{{msgValidacaoConfirmacao}}</span>
            </div>
    
            <div class="form-group">
                <label>Perfil:<span class="alerta-required">*</span>&nbsp;</label>
                <div class="form-check form-check-inline">
                    <input type="radio" id="perfil" class="form-check-input" id="perfil-gerente" value="2" ng-model="operador.perfil" required>
                    <label class="form-check-label" for="perfil-gerente">Gerente</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" id="perfil" class="form-check-input" id="perfil-analista" value="3" ng-model="operador.perfil">
                    <label class="form-check-label" for="perfil-analista">Analista</label>
                </div>
                <br/><span ng-show="formulario.$submitted && !operador.perfil" class="alerta-required">{{msgValidacaoPerfil}}</span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row justify-content-between" style="margin: 0rem;">
                <button type="submit" class="btn btn-primary">Salvar</button>
                <a href="/operador/listar" class="btn btn-secondary">Voltar</a>
            </div>
            <hr/>
        </div>
    </form>
</section>

<style>
    .alerta-required {
        font-size: .8rem;
        color: red;
    }
    .enquadrado {
        margin: 0rem;
    }
</style>