<div class="jumbotron">
    <h1 class="text-center">{{titulo}}</h1>
</div>

<form novalidate name="formulario" class="row" ng-submit="submeter()">
    <div class="col-md-6">        
        <div class="form-group">
            <label>Nome:<span class="alerta-required">*</span></label>
            <input type="text" name="nome" class="form-control" ng-model="operador.nome" required/>
            <span ng-show="formulario.$submitted && !operador.nome" class="alerta-required">Nome obrigatório</span>
        </div>

        <div class="form-group">
            <label>Login:<span class="alerta-required">*</span></label>
            <div>
                <input type="text" name="login" class="form-control" ng-model="operador.login" ng-if="!operador.id" required/>
                <input type="text" name="login" class="form-control" ng-model="operador.login" ng-if="operador.id" required disabled/>
            </div>
            <span ng-show="formulario.$submitted && !operador.login" class="alerta-required"> Login obrigatório</span>
        </div>

        <div class="form-group">
            <label>Senha:<span class="alerta-required">*</span></label>
            <input type="password" name="senha" class="form-control" ng-model="operador.senha" required/>
            <span ng-show="formulario.$submitted && !operador.senha" class="alerta-required">Senha obrigatória</span>
        </div>
        
        <div class="form-group">
            <label>Confirmar Senha:<span class="alerta-required">*</span></label>
            <input type="password" name="confirmarSenha" class="form-control" ng-model="operador.confirmarSenha" required/>
            <span ng-show="formulario.$submitted && !operador.confirmarSenha" class="alerta-required">Confirmação obrigatória</span>
        </div>

        <div class="form-group">
            <label>Perfil:<span class="alerta-required">*</span>&nbsp;</label>
            <div class="form-check form-check-inline">
                <input type="radio" name="perfil" class="form-check-input" id="perfil-gerente" value="1" ng-model="operador.perfil" required>
                <label class="form-check-label" for="perfil-gerente">Gerente</label>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" name="perfil" class="form-check-input" id="perfil-analista" value="2" ng-model="operador.perfil">
                <label class="form-check-label" for="perfil-analista">Analista</label>
            </div>
            <br/><span ng-show="formulario.$submitted && !operador.perfil" class="alerta-required">Perfil obrigatório</span>
        </div>

        <button type="submit" class="btn btn-primary">Salvar</button>
        <a href="/" class="btn btn-secondary">Voltar</a>
        <hr/>
    </div>
    <div class="col-md-6">
        <div ng-show="mensagem.length && countErros <= 0" class="alert alert-info alert-dismissible fade show" role="alert">
            <p>{{mensagem}}</p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="fecharAlerta()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        
        <div ng-show="mensagem.length && countErros > 0" class="alert alert-danger alert-dismissible fade show" role="alert">
            <p>{{mensagem}}</p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="fecharAlerta()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</form>

<style>
    .alerta-required {
        font-size: .8rem;
        color: red;
    }
</style>