<div class="jumbotron">
    <h1 class="text-center">Operadores</h1>
</div>

<div class="col-md-6">
    <div ng-show="mensagem.length && countErros <= 0" class="alert alert-info alert-dismissible fade show" role="alert">
        <p>{{mensagem}}</p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="fecharAlerta()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    
    <div ng-show="mensagem.length && countErros > 0" class="alert alert-danger alert-dismissible fade show" role="alert">
        <p>{{mensagem}}</p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="fecharAlerta()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>

<div class="mb-2" style="text-align: right">
    <a href="/operadores/new" class="btn btn-primary">Novo Operador</a>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Nº Registro</th>
            <th scope="col">Nome</th>
            <th scope="col">Perfil</th>
            <th scope="col">Data de Cadastro</th>
            <th scope="col">Ação</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="operador in operadores">
            <th scope="row">{{operador.id}}</th>
            <td>{{operador.nome}}</td>
            <td>{{operador.perfil}}</td>
            <!-- <td>{{operador.dataCadastro}}</td> -->
            <td>HOJE</td>
            <td> 
                <a href="/operadores/edit/{{operador.id}}" class="btn btn-sm btn-success">Editar</a>
                <button class="btn btn-sm btn-danger" ng-click="excluir(operador)">Excluir</button>
            </td>
        </tr>
    </tbody>
</table>